altgraph==0.16.1
appdirs==1.4.3
attrs==18.2.0
cached-property==1.5.1
certifi==2018.10.15
chardet==3.0.4
colorama==0.3.9
cursor==1.2.0
defusedxml==0.5.0
enum34==1.1.6
future==0.17.1
halo==0.0.21
idna==2.7
isodate==0.6.0
log-symbols==0.0.11
lxml==4.2.5
macholib==1.11
pefile==2018.8.8
pytz==2018.7
pywin32-ctypes==0.2.0
requests==2.20.0
requests-toolbelt==0.8.0
six==1.11.0
spinners==0.0.23
termcolor==1.1.0
terminaltables==3.1.0
urllib3==1.24.1
zeep==3.1.0
